.container {
  background-color: black;
  color: white;
  padding: 15px 25px;
  border-radius: 12px;
  border: 1px solid white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.container:hover {
  background-color: #333;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.container:active {
  background-color: #111;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 15px 15px;
    border-radius: 12px;
    border: 1px solid white;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
}
